<header>
    <div class="header-content">
        <h1>SpitFire Records 🐦‍🔥</h1>
        <p>Make sure you have an extinguisher cuz it's about to be hot</p>
        <NavMenu />
    </div>
</header>

@code {

}
