@using NCRecordShop.Blazor.Components.Records
@using NCRecordShop.Blazor.Models
@page "/albums"
<PageTitle>Albums - Spitfire Records 🐦‍🔥</PageTitle>
<h1>Our Top 10</h1>
<RecordsSummaryList/>
@code {

}
